h1 {
text-align: center;
font-weight: normal;
padding: 1px;
font-size: 24px;
color: #e2e2e2;
}
body {
margin: 0px;
background-color: #212121;
}
.para1 {
color: red;
}
.navigation ul {
    margin: 0px;
    height: 64px;
    background-color: #424242;
    color: #E2E2E2;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
}
.navigation li {
    text-align: center;
    margin: 0px 18px;
    text-decoration-style: none;
}
.navigation a {
    color: #E2E2E2;
    text-decoration: none;
}
.searchBox {
	align-items: center;
	background-color: #E2E2E217;
}
.search {
	background: transparent;
	border: none;
	outline: none;
    color: #ffffffff;
    margin: -18px;
}
.search placeholder {
	
}
.main {
    font-family: 'Times New Roman', serif;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
	color: #E2E2E2;
}
.video1 {
	margin: 4px 150px;
	align-items: center;
}